html {
  margin: 0;
  padding: 0;
  background-color: #1E1C26;
}

body,
html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #000;
  margin: 0px;
}
a {
  color: white;
}
a:hover{
  color: #E100FF;
}

#info {
  position: absolute;
  bottom: 0px;
  right: -1000px;
  margin-right: 20px;
  font-family: Helvetica;
  color: white;
  font-size: 14px;
  z-index: 1;
  transition: 1s;
}

#description{
  float: right;
  transition: 1s;
  opacity: 0;
  max-width: 100vw;
  line-height: 20px;
}

#infoBtn{
  padding-right: 10px;
  padding-top: 24px;
  height: 20px;
  width: 20px;
  outline: none;
  z-index: 1;
}


#muteBtn{
  height: 20px;
  width: 20px;
  outline: none;
  position: absolute;
  bottom: 0px;
  margin: 15px;
  z-index: 1;
}
